- for (var i = 0; i < logList.length; i++)
  if logList[i].msgOut
    li.app--message--me
      .app--avatar(style='background-image: url(' + logList[i].profile_img + ')')
        img(src=logList[i].profile_img)
      p.app--message--text #{logList[i].msg}
      p.app--message--timestamp #{logList[i].date}
  else if logList[i].msgIn
    li.app--message
      .app--avatar(style='background-image: url(' + logList[i].profile_img + ')')
        img(src=logList[i].profile_img)
      p.app--message--text #{logList[i].msg}
      p.app--message--timestamp #{logList[i].date}