.grid-33
  .app--section
    ul.app--message--list
      li
        h3
          | Conversation with 
          a Jill Spore
        ul.app--message--conversation
          li.app--message
            .app--avatar(style='background-image: url(' + messagesRecieved.message1.profile_img + ')')
              img(src=messagesRecieved.message1.profile_img)
            p.app--message--text #{messagesRecieved.message2.msg}
            p.app--message--timestamp #{messagesRecieved.message1.date}
          li.app--message--me
            .app--avatar(style='background-image: url(' + messagesSent.message2.profile_img + ')')
              img(src=messagesSent.message2.profile_img)
            p.app--message--text
              | #{messagesSent.message1.msg}
            p.app--message--timestamp #{messagesSent.message1.date}
          li.app--message
            .app--avatar(style='background-image: url(' + messagesRecieved.message3.profile_img + ')')
              img(src=messagesRecieved.message3.profile_img)
            p.app--message--text #{messagesRecieved.message2.msg}
            p.app--message--timestamp #{messagesRecieved.message2.date}
          li.app--message--me
            .app--avatar(style='background-image: url(' + messagesSent.message4.profile_img + ')')
              img(src=messagesSent.message4.profile_img)
            p.app--message--text #{messagesSent.message2.msg}
            p.app--message--timestamp #{messagesSent.message2.date}
          li.app--message
            .app--avatar(style='background-image: url(' + messagesRecieved.message5.profile_img + ')')
              img(src=messagesRecieved.message5.profile_img)
            p.app--message--text #{messagesRecieved.message3.msg}
            p.app--message--timestamp #{messagesRecieved.message3.date}